@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    <p>
        <h1 class="text-danger">@ViewData["Title"].</h1>
        <h2 class="text-danger">@Model.Message</h2>
    </p>
}


